
.footer {
    background-color: white;
    padding: 20px;
    width: 100%;
  }
  
  .footer__content {
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin: 0px 30px 0px 30px;
  }
  .footer__left {
    margin-left: 20%;
    display: flex;
    height: 250px;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer__left img {
    height: 35px;
    padding-top: 10%;

  }
.footer__leftBottom {
    align-items: center;

}
  .footer__leftBottom img {
    height: auto;
    padding: 5px;
  }
  
  .footer__rightList {
    display: flex;
    width: 100%;
  }
  
  .list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .listItem {
    padding: 8px;
  }
  .listItem .MuiTypography-body1 {
    line-height: 1; /* Adjust the line height as needed */
  }
  .listItemText {
    color: black;
  }
.footer__bottom {
    
}
  /* Media query for laptops and larger screens */
  @media only screen and (min-width: 768px) {
    .footer__left img {
      width: 200px;
    }
  
    .footer__leftBottom img {
      width: 150px;
    }
  
    .footer__rightList {
      margin-left: 50px;
    }
  }



 .footer  hr {
    width: 60%;
    margin-left: 15%;
    border: none;
    color : rgb(226, 226, 226);
    height: 1px;
    border-top: 1px solid;
}