.footer {
  background: linear-gradient(to bottom right, white, gray);
  padding: 20px;
  width: 100%;
  box-sizing: border-box; /* Add box-sizing to include padding in the width */
}

.footer__content {
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin: 0 30px; /* Adjust margin */
}

.footer__left {
  margin-left: 20%;
  display: flex;
  height: 250px;
  flex-direction: column;
  justify-content: space-between;
}

.footer__left img {
  height: 35px;
  padding-top: 10%;
}

.footer__leftBottom {
  align-items: center;
}

.footer__leftBottom img {
  height: auto;
  padding: 5px;
}

.footer__rightList {
  display: flex;
  width: 100%;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.listItem {
  padding: 8px;
}

.listItem .MuiTypography-body1 {
  line-height: 1;
}

.listItemText {
  color: black;
  cursor: pointer;
}

.footer__bottom {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box; 
}

.footer__bottomLeft {
  display: flex;
  margin-left: 15%;
  width: 120px;
  gap: 20px;
}

.footer__bottomRight {
  display: flex;
  flex-direction: row;
  text-align: center;
  max-width: 700px;
  margin-right: 16.4%;
}

.footer__bottomRight p {
  padding-left: 40px;
  cursor: pointer;
}

.footer__bottomCopy {
  text-align: center;
  padding: 10px 0;
  width: 100%; /* Set width to 100% */
}

.footer__bottomCopy p {
  margin: 8px 0;
}

/* Media query for laptops and larger screens */
@media only screen and (min-width: 768px) {
  .footer__left img {
    width: 200px;
  }

  .footer__leftBottom img {
    width: 150px;
  }

  .footer__rightList {
    margin-left: 50px;
  }
}

.footer hr {
  width: 60%;
  margin-left: 15%;
  border: none;
  color: rgb(226, 226, 226);
  height: 1px;
  border-top: 1px solid;
}
