.header  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-top: 5px;
    z-index: 1000; /* Ensure a higher z-index */
    position: sticky;
    top: 0; /* Stick to the top of the viewport */
    transition:background-color 0.3s; 
   
}
.hideHeaderMiddle .header__middle {
    display: none;
  }
.showWhiteBackground {
    background-color: whitesmoke;
}
.header__left {
    display: flex;
    width: 250px;
    align-items: center;
    padding-left: 10px;
    justify-content: space-evenly;
}
.header__left > .MuiSvgIcon-root {
    font-size: 30px !important;
    cursor: pointer;
}
.header__left > p {
    font-size: 32px;
    font-weight: 500;
}
.header__middle {
    display: flex;
    width: 600px;
    align-items: center;
    background-color: #dcdcdc;
    padding: 10px;
    border-radius: 5px;
    height: 30px;

}

.header__middle > input { 
    border: none;
    width: 600px;
    padding: 10px;
    background-color: transparent;
    outline-width: 0;
    font-size: medium;
    height: fit-content;
}
.header__right {
    display: flex;
    width: 250px;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 10px;
    
}
.header__signUp {
    text-decoration: none !important;
    color: white !important;
    background-color: black !important;
    border: none;
    height: 45px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: none !important;
    border-radius: 50px !important;
    font-size: 18px !important;
    width: 90px;
}
.header__signIn {
    text-decoration: none !important;
    color: black !important;
    background-color: white !important;
    border: none;
    height: 45px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: none !important;
    border-radius: 50px !important;
    font-size: 18px !important;
    width: 100px;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.listItem__register {
    text-decoration: none !important;
    color: white !important;
    background-color: black !important;
    border: none;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: none !important;
    border-radius: 10px !important;
    font-size: 18px !important;
    width: 250px;
   
}
.listItem__login {
    text-decoration: none !important;
    color: black !important;
    background-color: rgb(231, 231, 231) !important;
    border: none;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: none 
    !important;
    border-radius: 10px !important;
    font-size: 18px !important;
    width: 250px;
    align-items: center;
}
.listItem__login {
    cursor: pointer;
background-color: #e2e2e2;
}
.navbar {
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 100%;
}
.navbar__top {
    display: flex;
    flex-direction: column;
    height: 70%;
}
.navbar__links p{
font-weight: 500;
cursor: pointer;
font-size: 14px;
}
.navbar__bottom {
    display: flex;
    flex-direction: column;
    height: 30%;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
}
.navbar__bottomIconList > p{
    width: auto;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    padding-left: 20px;
}
.navbar__bottomIconList > img {
    height: 50px;
}

.navbar__bottomButtons > Button{
    color: black !important;
    background-color: #e2e2e2;
    border-radius: 20px;
    text-transform: capitalize;
    font-weight: 500;
    margin: 10px;
    
}
.navbar__bottomButtons > Button:hover {
cursor: pointer;
background-color: #d1cece;
}