.home {
  z-index: -1;
}
.home__section {
    display: flex;
    padding: 30px;
    margin-top: 47%;
    z-index: -1;

  }
  hr {
    border: none;
    color : rgb(226, 226, 226);
    height: 1px;
    border-top: 1px solid;
  }