.choiceSlide {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.choiceSlide__container{
    padding: 10px;
    padding-top: 0px;
    margin-left: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.choiceSlide__container > img {
    height: 70px;
    margin-top: 10px;
}
.choiceSlide__container > p {
    font-size: 12px;
    font-weight: 500;
}
.choiceSlide__container >img:hover, p:hover {
    cursor: pointer;
}
.choiceSlide__container.selected > img{
    background-color: #ffe3ac;
    border-radius: 100px; /* Set your desired background color */
}
.choiceSlide__container img.rotate {
    transform: rotate(45deg) !important;
}