.signUp {
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #FFFFFF;

}
.signUp__header {
    height: 60px;
    top: 0;
    border-bottom: 1px solid lightgray;
    position: relative;
    background-color: lightblue;
}
.signUp__header > img {
    margin-left: 50px;
    margin-bottom: 5px;
    height: 70px;
    width: auto;
}

.signUp__content  {
    align-items: center;
    justify-content: center;
    width: 25%;
    margin-left: 35%;
    padding: 15px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;

}
.signUp__content > h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    margin-top: 20px;
}
.signUp__content > input {
    width: 100%;
    height: 45px;
    margin-top: 20px;
    outline: none;
    border: none;
    background-color: whitesmoke;
    border-radius: 10px;
    text-indent: 15px; 
    font-size: 16px;  
}
.signUp__content > input::placeholder {
    font-size: 16px;
}
.signUp__content  > input:focus {
    border: 2px solid black;
}
.signUp__content > .continue__button {
    background-color: black !important;
    width: 100% !important;
    height: 50px !important;
    color: white !important;
    margin-top: 30px !important;
    border-radius: 10px !important;
    font-size: 16px !important;
    cursor:  pointer !important;
    text-transform: none !important;

}
.divider {
    text-align: center;
    width: 100%;
    justify-content: center;
    margin-left: 20px !important;
    color: gray;
}
.signUp__content > Button {
    background-color: whitesmoke;
    width: 100%;
    height: 50px;
    color: black;
margin-top: 10px;
    border-radius: 10px;
    text-transform:none;
    font-size: 16px;
}
.signUp__content > Button:hover {
    background-color: #E2E2E2;
}
.signUp__content > Button > img {
    height: 20px;
    padding-right: 10px;
}
.signUp__content > .qr__button {
    background-color: white;
    cursor: pointer;
}
.signUp__content > .qr__button:hover {
    background-color: whitesmoke;
}
.signUp__content > p {
    font-size: 12px;
    padding-top: 15px;
    color: gray;
}