.toggle {
  display: flex;
  background-color: white;
}
.toggleButtonGroup {
  background-color: #EEEEEE !important;
  border-radius: 50px !important;
  width: auto;
  display: flex;
}
.toggleButton {
  background-color: none !important;
  margin: 5px !important;
  border: none !important;
  border-radius: 50px !important;
  height: 40px;
  width: auto;
  font-size: 14px !important;
  text-transform: capitalize !important;
  font-weight: 600 !important;
  color: black !important;
}
.toggleButton:hover {
  cursor: pointer;
  background-color: transparent !important;
}
.Mui-selected {
  background-color: white !important;
}
.Mui-selected:hover {
  cursor: pointer;
  background-color: white !important;
}